* {
  box-sizing: border-box;
}

body {
  background-image: url("../Pattern-Randomized.svg");
  background-size: cover;
  background-size: 100%;
}

.emailuser {
  font-family: "Syne";
}

.ArticleContainer {
  width: 98%;
  margin: 0 auto;
  background-color: #fafafa;
  padding: 50px 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 18px 1px black;
}

.AddArticle input,
.AddArticle textarea {
  max-width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin: 5px 0;
  padding: 10px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.06), 0 4px 4px rgba(0, 0, 0, 0.01);
}

.AddArticle input[type="button"],
.AddArticle input[type="submit"] {
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.01);
}

.AddArticle input[type="submit"] {
  background-color: greenyellow;
}

.btn-group {
  width: 100%;
}

.second-header {
  display: flex;
  justify-content: space-between;
}

h1 {
  text-align: center;
}

article {
  padding: 10px;
  border: 1px solid #ddd;
  margin: 10px auto 20px;
  width: 90%;
}

#uitextarea::-webkit-resizer {
  background-color: greenyellow;
}

@media (min-width: 700px) {
  .ArticleContainer {
    width: 700px;
    padding: 50px 50px;
  }
}
